.todo-item {
    margin: 10px;
    display: flex;
}

.todo-item.done .icon-container {
    border-color: green;
}

.todo-item.done .content {
    color: #aaa;
    text-decoration: line-through;
}

.icon-container {
    border: solid 1px #aaa;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
}

.icon-container img {
    width: 25px;
}