.menu-details {
    border-radius: 10px;
    border: #000 solid 1px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container > h3 {
    font-size: 20px;
    margin: 0;
}

.info-container > p {
    font-size: 12px;
    margin: 0;
}

.buttons-container {
    padding-top: 30px;
    display: flex;
}

.button {
    background: none;
    display: flex;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin:2px;
}

.button img {
    width: 80%;
    height: 80%;
}

.info-container > img {
    width: 200px;
    height: 200px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
}
