.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app > .container {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding: 20px;
}

.app > .container.selected {
  grid-template-columns: 2fr 1fr;
}

.app > .container > .details-wrapper {
  grid-row: 1 / 3;
}

.app > .container > .list-wrapper {
  position: relative;
}

.app > .container .open-add-modal {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: none;
  border: none;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000080;
  z-index: 1;
  animation: modal-container-appear 300ms;
}

@keyframes modal-container-appear {
  from {
    opacity: 0;
  }
}

.modal-container.closing {
  opacity: 0;
  transition: 300ms;
}